doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title
            block title
                | Hello
            |  — Queer Boots
        link(rel='stylesheet' href=path('/assets/normalize.css'))
        link(rel='stylesheet' href=path('/assets/skeleton.css'))
        link(rel='stylesheet' href=path('/assets/queerboots.default.css'))
    body
        block content