extends templates/template.pug

block content
    .container
        .row
            .column
                h2 Queer Boots
                p Queer Boots is an eclectic dance night for LGBTQ+ folk and friends in Lancaster.